.container {
  width: 510px;
  height: 500px;

  display: flex;
  border: 1px solid black;
}

.gridRow {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.cells {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
}
