.container {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 1px solid black;
}

.gridRow {
  display: flex;
  width: 100%;
}

.cells {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  width: 100%;
}
